<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="token_endpoint"         href="{{ baseurl }}token"/>
  <link rel="authorization_endpoint" href="https://indieauth.com/auth"/>
</head>
<body>
  <div class="page-content">
<h2>Current Weather API</h2>
<code>/api/v1/weather[?postalcode=#####]</code>
  </div>
</body>
</html>
